height: 95vh;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{ 
    font-family: 'Poppins', sans-serif;
    background:url(/images/pattern-background-desktop.svg) no-repeat;
    font-size: 13px;
}


main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card { 
    background-color: white;
    width: 35%;
    position: relative;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}


.card .main-img{
    width: 100%;
}


.card p {
    width: 70%;
    margin : 0 1.5rem;
    color: gray;
}

.p-1{
    padding : .7rem 0;
}

.plan { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.plan a { 
    color: blue;
}

.plan div{
    display: flex;
    flex-direction:column;
    justify-items: flex-start;
    line-height: 1.5rem;
    text-align: center;
    align-self: center;
}


.process , .cancel{
    width: 80%;;
    color: white;
    height: 4rem;
    font-size: 1rem;
    font-weight: 900;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    margin-left: .3rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
    margin-bottom: 12px;

}

.process{
    background-color: #0000CD;
}

.cancel{
    background-color: white;
    color : gray;
}

.process:hover{
    opacity: 0.7;
}

.cancel:hover { 
    background-color: #FF6347;
    color : white;
    transition: .3s ease-in;
}